nav {
    width: max-content;
    padding-right: .5em;
    border-right: solid green .3em;
    position: fixed;
    top: 1em;
    left: 2%;
    font-size: larger;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li{
    max-width: max-content;
}

nav a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}
nav a:visited {
    text-decoration: none;
}
nav a:hover{
    color: darkgray;
}